.popup1 
{
  display: none;
  position: fixed;
  padding: 10px;
  width: 480px;
  height: 280px;
  top: 40%;
  left: 45%;
  margin-top: -150px;
  margin-left: -150px;
  background: #FFF;
  z-index: 20;
}

#popup1:after 
{
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  z-index: -2;
}

#popup1:before 
{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

#popup-link
{
	color: white;
	text-decoration: none;
}

.popup2 
{
  display: none;
  position: fixed;
  padding: 10px;
  width: 480px;
  height: 280px;
  top: 40%;
  left: 45%;
  margin-top: -150px;
  margin-left: -150px;
  background: #FFF;
  z-index: 20;
}

#popup2:after 
{
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  z-index: -2;
}

#popup2:before 
{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

